<% flash.each do |key, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= key == "notice" ? "success" : "danger" %>">
      <i class="fa fa-times fa-fw" id="error_close" data-dismiss="alert"></i>
      <%= content_tag(:p, msg, id: 'flash_msg') %>
    </div>
  <% end %>
<% end %>
